project3/project3/rposhala_proj3/q1.6.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE biblio[
<!ELEMENT biblio (book*)>
<!ELEMENT book (title, category,rating,price,author*)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT category(#PCDATA)>
<!ELEMENT rating(#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT author (name)>
<!ELEMENT name (#PCDATA)>
<!ATTLIST book year CDATA #REQUIRED>
]>